body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

body > header {
    width: 100%;
    z-index: 1000;
    background-color: #19314C;
    overflow: hidden;
    padding: 20px 0 0 0;
}
body > header h3 {
    background: url(../images/merchantos.png) no-repeat;
    float: left;
    margin: 15px 0 14px 15px;
    padding:0;
    width: 237px;
    height: 25px;
    text-indent: -10000px;
}
body > header h1 {
    color: #fff;
    font-size: .8em;
    font-weight: normal;
    float: left;
    padding: 20px 15px 15px;
    margin: 0;
}
body > header ul {
    float: right;
    color: #fff;
    font-size: .8em;
    font-weight: normal;
    padding: 0;
    margin: 0;
    list-style: none;
}
body > header ul li {
    display: inline;
}
body > header a, body > header .block {
    text-decoration: none;
    float: left;
    display: block;
    margin: 15px 6px 0 0;
    padding: 6px 8px;
    color: #fff;
}
body > header .block {
    opacity: .6;
}
body > header ul li.return a {
    color: white;
    margin-top: 14px;
}
body > header ul li.return a:hover {
    color: #3B73B9;
}
body > header ul li.logout a {
    text-transform: uppercase;
    color: #fff;
    font-size: .9em;
    margin-right: 4px;
    padding-top: 7px;
    background-color: #3B73B9;
    border-radius: 2px;
    line-height: 1;
}
body > header ul li.logout a:hover {
    color: #19314C;
}

div#loading {
	padding: 50px;
	color: grey;
}

section {
	display: none;
	padding: 15px;
}
section.selected { display: block; }
section header {
    border-bottom: 3px solid #ccc;
    overflow: hidden;
    margin: 0 0 1em;
}
section header nav {
    float: right;
    margin: 0 0;
}
section header nav ul { display: inline; margin: 0; }
section header nav li { display: inline; }
section header nav a {
    float: right;
    margin: 9px 0 0;
    display: block;
    padding: 8px 10px;
    font-size: .8em;
    color: #3B73B9;
}
section header nav a:hover {
    background-color: #eee;
}
section header h1 {
    float: left;
    margin: 0;
    font-size: 2em;
    font-weight: normal;
}

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 16px/100% Arial, Helvetica, sans-serif;
	margin: 0 10px 0 0;
	padding: .65em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.button:hover {
	text-decoration: none;
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.button:active {
	position: relative;
	top: 1px;
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

h1, h2, h3, h4, h5, h6 { margin: 0 0 .5em; }
h1{ margin-bottom: .25em; }
p { margin: 0 0 1em; }


fieldset {
    margin: 0 0 .5em;
    padding: 15px;
}
fieldset p {
    color: #666;
    font-size: .8em;
    margin: 0 0 .5em;
}
fieldset ol {
    list-style: none;
    margin: 0 0 0;
    padding: 0;
}
fieldset ol.checkboxes { margin-top: 1em; }
fieldset ol.checkboxes li { margin: 0 0 .5em; }
fieldset#chart fieldset {
    background-color: #eee;
    margin: 0;
    padding: 0 0 0;
}
fieldset fieldset h3 {
    background-color: #ccc;
    display: block;
    padding: 5px 10px;
    float: none;
    font-size: .8em;
    color: #666;
    text-transform: uppercase;
    
    margin: 0;
}


.setup_category > label {
    float: left;
    width: 180px;
    border-top: 1px solid #ccc;
    padding: 10px;
}
.account_select {
    margin: 0 0 0 200px;
    padding: 10px;
    border-left: 1px dashed #ccc;
    border-top: 1px solid #ccc;
}
.account_select select:nth-child(2) {
    display: block;
    margin: 5px 0 0 10px;
}
.account_select select:nth-child(3) {
    display: block;
    margin: 5px 0 0 20px;
}

.account_select label {
    display: block;
    margin: 8px 0 0;
    font-weight: normal;    
}

div.labels {
    margin: 1em 0 0;
    overflow: hidden;
}
div.labels p {
    float: left;
    text-transform: uppercase;
    color: #333;
    font: .7em Verdana, sans-serif;
    margin: 0 0 5px;
}
div.labels p.merchantos {
    padding: 0 0 0;
    margin: 0 10px 0 0 ;
    width: 199px;
    border-right: 1px dashed #ccc;
}



fieldset h2 {
    font-weight: normal;
    font-size: 1.2em;
    margin: 0 0 .25em;
}


label {
    font-size: .8em;
    font-weight: bold;
}
input[type='submit'] {
    border: 1px solid #AAA;
    border-radius: 5px;
    padding: 10px 12px 8px 12px;
    font-size: 14px;
    font-weight: bold;
    color: #444;
    margin: 1em 1em 2em;
    
    background-image: -webkit-linear-gradient(top, white 20%, #F6F6F6 50%, #EEE 52%, #F4F4F4 100%);
    background-image: -moz-linear-gradient(top, white 20%, #F6F6F6 50%, #EEE 52%, #F4F4F4 100%);
    background-image: -o-linear-gradient(top, white 20%, #F6F6F6 50%, #EEE 52%, #F4F4F4 100%);
    background-image: linear-gradient(white 20%, #F6F6F6 50%, #EEE 52%, #F4F4F4 100%);
}



div.scary {
    background-color: #fcc;
    padding: 20px;
}
.scary h3 {
    margin: 0 0 .25em;
}
.scary h3 a {
    font-size: .8em;
    color: #c00;
}
.scary p {
    margin: 0;
    font-size: .8em;
    color: #666;
}

dl {
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}
dl dd, dl dt {
    
    padding: 8px 0 0;
	min-height: 1em;
    
	margin: 0 0 .5em;
	font-size: .8em;
	
	border-top: 1px solid #ccc;
}
dl dt {
    padding: 10px 0 0;
	width: 180px;
	float: left;
	margin: 0;

    font-size: .7em;
    font-weight: normal;
    color: #666;
//  clear: left;
}
dl dd { margin-left: 180px; min-height: 1.35em; }

#intuitPlatformAppMenu {
    right: 2px !important;
}
